@model IEnumerable<WebApplication3.Models.Movie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Главная страница</h1>

<p>
    <a asp-action="Create">Добавить новый фильм</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.title)*@
                Название
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ReleaseDate)*@
                Дата выхода
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Genre)*@
                Жанр
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Price)*@
                Цена
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.id">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
